section{border-bottom:0;}
html{font-size:100px;}
@media screen and (max-width:768px){
	html{font-size:50px;}
}


/*banner*/
.one-sixth-screen{height: 500px!important}
.text-bitter-sweet.title-extra-large-6.font-weight-600.margin-ten-bottom.sm-margin-four-bottom.slider-title.letter-spacing-minus-1.tz-text{font-size:0.5rem!important;}
.text-light-gray.title-small.main-font.slider-text.width-90.xs-width-100.margin-fourteen-bottom.tz-text{font-size:0.2rem!important;}

@media screen and (max-width:768px){
.text-bitter-sweet.title-extra-large-6.font-weight-600.margin-ten-bottom.sm-margin-four-bottom.slider-title.letter-spacing-minus-1.tz-text{font-size:0.75rem!important;}
.text-light-gray.title-small.main-font.slider-text.width-90.xs-width-100.margin-fourteen-bottom.tz-text{font-size:0.3rem!important;}
}


/*卖点*/
.feature-style3 .feature-box .feature-title{font-size:0.36rem!important;line-height: 0.42rem;}

@media screen and (max-width:768px){
.feature-style3{width:90%;margin:0 auto;}
.feature-style3 .feature-box .feature-title{font-size:0.2rem!important;line-height: 0.3rem;}
.feature-style3 .col-xs-12{width: 48%!important;background: #f6f6f6;margin: 0 1%;padding: 5%;}
.feature-style3 .col-xs-12 h3{margin-top: 0.2rem}
.feature-style3 .feature-box i{width:50px!important;height:50px!important;line-height: 50px!important;font-size:0.5rem!important;}
}


/*producttabs-1*/
.team-style3 .team-social{width:20%;height:100%;right: 0;}
.no-margin-tb{width: 100%;margin-bottom: 5px!important;}
.no-margin-tb a{width: 30px;display: table;border: 1px solid #eee;height: 30px;margin: 0 auto;}
.team-style3 .team-social{background: rgba(0,0,0,0);}
.no-margin-tb a i{width:30px;line-height: 30px;font-size: 16px!important}
.no-margin-tb a i:hover {color:#039427!important;cursor:pointer;}
.text-gray{color:#666!important}
.small-icon-text{padding: 5px 0;background: #333;font-size: 12px;color: #fff;position: absolute;right: 65px;z-index: 9999;width: 100px;display: none}
.small-icon-text1{top:22px;}
.small-icon-text2{top:66px;}
.small-icon-text3{top:109px;}
.small-icon-text4{top:151px;}
.no-margin-tb a:hover span{display: block}
.small-icon-text:before{position: absolute;top: 10px;width: 0;height: 0;left: 100%;margin-left: 0px;content: " ";border-right: 6px solid transparent;border-top: 6px solid transparent;border-bottom: 6px solid transparent;border-left: 6px solid #333;}
.team-style3 .team-details{padding: 30px 20px;}
.team-style3 .owl-item{width: 298px !important;}
.team-style3 .owl-pagination-bottom .owl-pagination{display: none}
.owl-dark-pagination .owl-buttons .owl-prev{left: -30px;font-size: 24px;width: 30px;height: 30px;border: 1px solid #333;color: #333;text-align: center;line-height: 30px;}
.owl-dark-pagination .owl-buttons .owl-next{right: -30px;font-size: 24px;width: 30px;height: 30px;border: 1px solid #333;color: #333;text-align: center;line-height: 30px;}

@media screen and (max-width:768px){
.team-style3 .owl-item{margin:0 0.85%;}

}

/*custom-style1*/
.custom-style1 h2{text-align: left!important;}
.custom-1-btn-register a{background: #4a9e38;color:#fff;border-radius:5px;display:block;width:160px;padding:2% 0;}
.custom-style1 .col-md-9.col-sm-9.col-xs-9.text-left h2{font-size: 0.27rem!important}
.custom-style1 .col-md-3.col-sm-3.col-xs-3.custom-1-btn-register h2 a{font-size: 0.27rem!important}
@media screen and (max-width:768px){
	.custom-style1 .col-md-9.col-sm-9.col-xs-9.text-left{padding-right:0;}
.custom-style1 .col-md-9.col-sm-9.col-xs-9.text-left h2{font-size: 0.16rem!important;margin-bottom: 0!important;}
.custom-style1 .col-md-3.col-sm-3.col-xs-3.custom-1-btn-register h2 a{font-size: 0.14rem;    width: 80px;margin-right: 10px;}
.custom-style1 .col-md-3.col-sm-3.col-xs-3.custom-1-btn-register{padding:0}
}	

